<!DOCTYPE html>
<html lang="en">
<% include /partials/head %>
<body>
<% include /partials/nav %>
  <div class="jumbotron">
    <div class="container">
    <h1>Created new item <%= item.FullyQualifiedName %></h1>
        <p>This sample app is meant as a starting point and example for your NodeJS QuickBooks Online integrations.</p>
    </div>    
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <td>
            Id
          </td>
          <td>
            IncomeAccountRef Name
          </td>
          <td>
            IncomeAccountRef Id
          </td>
          <td>
            Level
          </td>
          <td>
            Create CreateTime
          </td>
          <td>
            Purchase Cost
          </td>
          <td>
            Type
          </td>
          <td>
            Unit Price
          </td>
          <td>
            Quantity
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= item.Id %> </td>
          <td> <%= item.IncomeAccountRef.name %> </td>
          <td> <%= item.IncomeAccountRef.value %> </td>
          <td> <%= item.level %> </td>
          <td> <%= item.MetaData.CreateTime %> </td>
          <td> <%= item.PurchaseCost %> </td>
          <td> <%= item.Type %> </td>
          <td> <%= item.UnitPrice %> </td>
          <td> <%= item.QtyOnHand %> </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>