<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Created new item <%= item.FullyQualifiedName %></h1>
  <p>Id: <%= item.Id %> <br>
     IncomeAccountRef: <br> name: <%= item.IncomeAccountRef.name %> <br> value: <%= item.IncomeAccountRef.value %> <br>
     Level: <%= item.level %> <br>
     CreateTime: <%= item.MetaData.CreateTime %> <br>
     PurchaseCost:  <%= item.PurchaseCost %> <br>
     Type: <%= item.Type %> <br>
     UnitPrice: <%= item.UnitPrice %> <br>
  </p>
</body>
</html>